#root { /*id가 root인 태그의 속성을 설정*/
	-fx-padding: 10;
}

#welcome-text {
	-fx-font-size: 35;
	-fx-font-family: "Arial Black";
	-fx-font-weight: bold;
	-fx-text-fill: linear-gradient(to bottom, blue, white);
}